{% extends 'core/base.html'%}
 {% load socialaccount %}
{% block title %}BECOME USER | {% endblock %}
{% block content %}
<h1 class="title">SIGN UP HERE</h1>
 <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Sign up</button>
            </div>
        </div>
    </form>
 <hr>

    <h2 class="subtitle">Already have an account?</h2>

    <a href="{% url 'login' %}">Log in</a>
  <h1>Sign in with google</h1>
  {% if request.user.is_authenticated %}
  <a href="{% url 'customer_admin'%}" class="navbar-item">USER PROFILE </a>
  {% else %}
  <a href="{% provider_login_url 'google' %}">Google Sign in</a>
  {% endif %}
  </body>

    

   
{% endblock %}